<!DOCTYPE html>
<html lang="en" th:fragment="page(title)" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_header(title=${title})"></head>
<body>
<nav th:replace="fragments/nav :: nav"></nav>

<div class="container bg-white min-vh-100 pt-2">
  <div th:replace="this :: content"></div>
</div>
<th:block th:replace="fragments/endscripts :: #endscripts"/>

<!--TODO seperate main from the rest-->
<script>
    const format = 'd/m/Y h:m';
    jQuery('#startdate').datetimepicker({format: format});
    jQuery('#enddate').datetimepicker({format: format});
</script>
</body>
</html>
