<!DOCTYPE html>
<html lang="en" th:fragment="page(title)" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_header(title=${title})"></head>
<body>


<nav th:replace="fragments/nav :: nav(title=${title})"></nav>

<div id="main" class="container bg-white min-vh-100 ps-4 pt-2">
  <div th:replace="this :: content"></div>
</div>
<th:block th:replace="fragments/endscripts :: #endscripts"/>


<!--TODO seperate main from the rest-->
<script th:if="${title == 'Hjem'}">
    const FORMAT = 'd/m/Y H:i';

    jQuery('#startdate').datetimepicker({
        format: FORMAT,
        minDate: 0,
        defaultTime: '16:00'
    });
    jQuery('#enddate').datetimepicker({
        format: FORMAT,
        minDate: '-1969/12/31',
        defaultTime: '16:00',
        defaultDate: '+1970/01/02',
    });


    const dropoff = document.getElementById('dropoff');
    const anothercity = document.getElementById('anothercity');
    const pickupdropofftext = document.getElementById('pickupdropoffcontent');
    dropoff.disabled = true;

    console.log(dropoff.value);

    anothercity.addEventListener('change', e => {
        dropoff.disabled = !anothercity.checked;
        jQuery("#dropoff").val(0);
        pickupdropofftext.innerText = !anothercity.checked ? 'Utlevering & innlevering' : 'Utlevering';
    });

</script>


</body>
</html>
