@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Condensed:300,400,700&subset=latin,latin-ext);

@media {
    .container {
        max-width: 1020px !important;
    }
}

:root {
    --mainGrey: #ebebeb;
    --mainOrange: #ff7d19;
}

body {
    font-family: "Roboto Condensed", Arial, Verdana, "Liberation Sans", "Bitstream Vera", sans-serif;
    background: var(--mainGrey);
}

.navbar {
    background: #000!important;
    /*z-index: -1 !important;*/
    /*height: 5rem;*/
}

.nav-link {
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0.8rem 0 0.8rem;
}

.nav-link.active {
    color: var(--mainOrange) !important;
}


.main-heading {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--mainOrange) !important;
}

.btn-warning {
    background-color: var(--mainOrange) !important;
    border-color: var(--mainOrange) !important;
    border-radius: 0;

}

.text-warning {
    color: var(--mainOrange) !important;
}

/*.container#main {*/
/*    margin-top: -0.40rem !important;*/
/*}*/
