<!DOCTYPE html>
<html lang="en" th:include="layouts/main :: page(title='Details')" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="content">

  <div class="container p-4">
    <!--    <p th:text="${reservation}"></p>-->

    <h2>Førerdetailjer</h2>


    <div class="row g-3">
      <div class="col-md-5 col-lg-4 order-md-last offer-summary">
        <h4 class="d-flex justify-content-between align-items-center mb-3 p-2 pt-4">
          <span>Ditt valg</span>
        </h4>

        <div class="col-4">
          <img alt="" th:src="|@{/img/categories/}${session.offer.category}.png|" width="300px">
        </div>

        <div class="col m-2">
          <h4 th:text="${session.offer.description()}"></h4>
          <span><b th:text="|eller lignende (gruppe ${session.offer.category})|">eller lignende</b></span>
          <p class="mt-4">Dette tilbudet inkluderer:<br>
            <span class="text-muted fw-light"><i class="fas fa-check text-warning"></i> Vinterdekk inkludert.</span>
          </p>
        </div>

        <hr class="m-4">

        <div class="col m-2 mb-4">
          <span class="fs-6" th:text="|NOK ${session.offer.costPerDay()}|">NOK 501.62</span> <span
          class="fs-6">pr dag</span><br>
        </div>
      </div>

      <div class="col-md-7 col-lg-8 pe-5">
        <form method="post" novalidate th:action="@{/customer}" th:object="${customerDetails}">
          <div class="row g-3">
            <div class="col-sm-6">
              <label class="form-label" for="forename">Fornavn</label>
              <input th:classappend="${#fields.hasErrors('forename')} ? 'is-invalid' : ''" class="form-control" id="forename" placeholder="" required th:field="*{forename}" type="text"
                     value="">
              <div class="invalid-feedback">
                Fyll inn fornavn.
              </div>
            </div>

            <div class="col-sm-6">
              <label class="form-label" for="surname">Etternavn</label>
              <input th:classappend="${#fields.hasErrors('surname')} ? 'is-invalid' : ''" class="form-control" id="surname" placeholder="" required th:field="*{surname}" type="text"
                     value="">
              <div class="invalid-feedback">
                Fyll inn etternavn.
              </div>
            </div>


            <div class="col-12">
              <label class="form-label" for="email">Email <span class="text-muted">(Optional)</span></label>
              <input class="form-control" id="email" placeholder="you@example.com" type="email">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label class="form-label" for="street">Adresse</label>
              <input th:classappend="${#fields.hasErrors('street')} ? 'is-invalid' : ''" class="form-control" id="street" placeholder="Nobels gate 32" required th:field="*{street}"
                     type="text">
              <div class="invalid-feedback">
                Vennligst oppgi en en gyldig adresse.
              </div>
            </div>


            <div class="col-md-6">
              <label class="form-label" for="zip">Postkode</label>
              <input th:classappend="${#fields.hasErrors('zip')} ? 'is-invalid' : ''" class="form-control" id="zip" placeholder="1337" required th:field="*{zip}" type="text">
              <div class="invalid-feedback">
                Postkode er påkrevd.
              </div>
            </div>

            <div class="col-6">
              <label class="form-label" for="city">By</label>
              <input th:classappend="${#fields.hasErrors('city')} ? 'is-invalid' : ''" class="form-control" id="city" placeholder="Førde" required th:field="*{city}" type="text">
              <div class="invalid-feedback">
                Fyll inn by.
              </div>
            </div>
          </div>

          <div class="col-12 offer-summary my-4">
            <div class="row">
              <div class="col-6 p-2">
                <span class="fs-2 ms-4">Din samlede pris:</span><br>
                <span class="fs-6 ms-4" th:text="|Leieperiode: ${session.offer.days} Dager|">Leieperiode</span>
              </div>
              <div class="col-6 p-2 d-flex">
              <span class="fs-2 ms-auto pe-4"
                    th:text="|NOK ${session.offer.days * session.offer.costPerDay()}|">Totalt: NOK 35113,73</span>
              </div>
            </div>

          </div>

          <button class="w-100 btn btn-warning btn-lg" type="submit">
            <span class="fw-bold p-1 text-light">FORESPØR KJØRETØY</span>
          </button>
        </form>
      </div>
    </div>
    </main>
  </div>
</th:block>
</body>
</html>
