<!DOCTYPE html>
<html lang="en" th:include="layouts/main :: page(title='Hjem')" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="content">


  <form action="#" method="post" th:action="@{/reservation/locationtime}" th:object="${locationTime}">
    <h2>Utlevering & innlevering</h2>
    <select aria-label="Velg utleveringssted" class="form-select" required th:field="*{pickup}">

      <option th:each="office : ${offices}" th:text="${office.address.city}" th:value="${office.id}" value="id">Office
      </option>
    </select>
    <button type="submit">Submit</button>
  </form>


</th:block>
</body>
</html>
