<!DOCTYPE html>
<html lang="en" th:include="layouts/main :: page(title='Hjem')" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="content">


  <form action="#" method="post" th:action="@{/reservation/locationtime}" th:object="${locationTime}">
    <div class="row">
      <div class="col">
        <span>Utlevering & innlevering</span>
        <select aria-label="Velg utleveringssted" class="form-select" required th:field="*{pickup}">
          <option th:each="office : ${offices}" th:text="${office.address.city}" th:value="${office.id}" value="id">Office
          </option>
        </select>
      </div>
      <div class="col">
        <span>Tid utlevering</span>
        <input class="form-control" id="startdate" type="text" th:field="*{startDate}" autocomplete="off">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
      </div>
      <div class="col">
        <span>Tid innlevering</span>
        <input class="form-control" id="enddate" type="text" th:field="*{endDate}" autocomplete="off">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
      </div>
      <div class="col align-items-center">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>


  </form>



</th:block>
</body>
</html>
