<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Rental Search</title>
</head>
<body>
<h1></h1>

<!-- TODO fix action URL-->
<form method="post" action="URL">
    <p>
        <label for="location">Pick Up Location</label>
        <input type="text" id="location" name="location">

        <label for="startdate">Start Date:</label>
        <input type="datetime-local" id="startdate" name="startdate" />

        <label for="enddate">End Date:</label>
        <input type="datetime-local" id="enddate" name="enddate" />
    </p>
    <p>
        <button type="submit">Search</button>
    </p>
</form>
</body>
</html>